.backdrop {
	position: fixed;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	justify-content: center;
}

.displayMan {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.icon {
    width: 100px;
    padding-right: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.icon button {
    cursor: pointer;
    background: none;
    border: none;
}
