.GSDiv {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.header {
    font-size: 3rem;
    position: relative;
    left: 20px;
    width: 240px;
}

.gameTitle img {
    display: flex;
    height: 40px;
    width: auto;
}
