.GuessBox {
	display: inline-flex;
	border: 2px solid #c2c3c5;
	width: 40px;
	height: 40px;
	font-size: 1.5rem;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	box-sizing: border-box;
	text-transform: uppercase;
	
}
