/*
 * InfoDisplay.module.css
*/

.infoDisplay {
    composes: display from "./DisplayMan.module.css";
    width: 450px;
    top: 25%;
    left: 17.5%;
}

.infoDisplay img {
    width: 80%;
}

.listRow {
	align-items: center;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
}

.listRow a {
    display: inline-block;
}

.listRow:last-of-type {
     padding-bottom: 20px;
}

img.pokeBullet {
    width: 14px;
    height: 100%;
    padding-right: 10px;
}
