/*
 * SettingsDisplay.module.css
*/

.settingsDisplay {
    composes: display from "./DisplayMan.module.css";
    width: 400px;
    height: 490px;
}

.settingsDisplay img {
    width: 80%;
}

.header {
    border-bottom: 2px solid #808080;
    padding-bottom: 20px;
}

.freeplay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    border-bottom: 2px solid #808080;
}

.freeplay p{
    display: flex;
    justify-content: center;
    width: 150px;
}

.freeplay a{
    margin-top: 12px;
}

.freeplay button{
    cursor: pointer;
    background: none;
    border: none;
    width: 120px;
}

.modeSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grayedOut {
    filter: grayscale(100%);
}

.easyMode {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.easyMode label{
    display: flex;
    width: 80px;
    text-align: center;
    padding-top: 6px;
}

.easyMode .modeSelect{
    flex-direction: column-reverse;
}

.exit {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.exit button{
    cursor: pointer;
    background: none;
    border: none;
    width: 60px;
    height: 75px;
    margin-bottom: 20px;
}