.display {
	z-index: 2;
	border-radius: 8px;
	background-color: #ffffff;
	width: 400px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 20vh;
}

.rowDisplay {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
}

.item {
    padding-left: 30px;
    padding-right: 40px;
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
}

.buttonWrapper button {
    height: 52px;
    width: 64px;
    text-align: center;
    padding-top: 32px;
}
