.shopDisplay {
    composes: display from "./DisplayMan.module.css";
    top: 25%;
    left: 17.5%;
}

.shuckleDisplay {
    composes: display from "./DisplayMan.module.css";
    width: 450px;
    height: 550px;
    padding-top: 20px;
    top: 15%;
    left: 17.5%;
}

.shuckleDisplay img {
    padding-top: 10px;
    width: 75%;
}

.sellInfo {
    display: block;
}

.sellInfo img {
    height: 40px;
    width: 35px;
    margin-left: -10%;
}

.header {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #808080;
}

.subheader {
    width: 80%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu {
    width: 350px;
}

.rowDisplay {
    display: flex;
    font-size: 2rem;
}

.item {
    display: flex;
    background: 2px solid blue;
}

.item img {
    height: 25px;
}

.item p {
    margin-top: -10%;
}

.item button {
    width: 75px;
    height: 25px;
}

.priceInfo {
    display: flex;
}

