.WinLoseDisplay {
	z-index: 2;
	border-radius: 8px;
	background-color:#ffffff;
	width: 400px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 20vh;
}

.textDisplay {
    width: 80%;
}

.spriteDisplay {
    width: 256px;
    height: 192px;
    position: relative;
}
