body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MenuBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #808080;
}

.LeftMenu {
  background: none;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.NavSandwich {
  display: flex;
  background: inherit;
  border: inherit;
  padding-left: 12px;
}

.HelpButton {
  display: flex;
  background: inherit;
  border: inherit;
}

.GameTitle {
  padding-top: 6px;
}

.RightMenu {
  display: flex;
  justify-content: flex-end;
  padding-right: 4px;
}





.Keyboard {
  display: flex;
}

.KeyRow {
  display: flex;
}

